:root {
  --color-000: #f3ebe6;
  --color-100: #352f2b;
  --color-500: #0a0a0a;

  @media (prefers-color-scheme: dark) {
    --color-000: #0a0a0a;
    --color-100: #352f2b;
    --color-500: #AD9E93;
  }
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  font-size: inherit;
}

body {
  background: var(--color-000);
  color: var(--color-100);
  margin: 0;
  padding: 0;
  font-family: Papyrus, 'Comic Sans';
  font-weight: bold;
}

header {
  color: var(--color-500);
  height: 15vh;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  line-height: 1.5;

  h1 {
    font-size: 66px;
    overflow: hidden;
    white-space: nowrap;
  }

  small {
    font-size: 24px;
    overflow: hidden;
    white-space: nowrap;
  }
}

main {
  margin: 0 auto;
  height: 70vh;
  width: 98vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
