:root {
  --color-000: #f3ebe6;
  --color-100: #352f2b;
  --color-500: #0a0a0a;

  @media (prefers-color-scheme: dark) {
    --color-000: #0a0a0a;
    --color-100: #352f2b;
    --color-500: #AD9E93;
  }
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  font-size: inherit;
}

body {
  background: var(--color-000);
  color: var(--color-100);
  margin: 0;
  font-family: Papyrus, 'Comic Sans';
  font-weight: bold;
}

header {
  text-align: center;
  color: var(--color-500);
  padding: 20px;

  h1 {
    font-size: 66px;
  }

  small {
    font-size: 24px;
  }
}

main {
  margin: 0 auto;
  height: 70vh;
  width: 90vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
